html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #222222;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

/* #active：SidebarListのボタンを押した状態を保持 */
.SidebarList #active {
  background-color: #565656;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  /* background-color: blue; */
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

/* ホバーした時の動作 */
.SidebarList .row:hover {
  cursor: pointer;
  background-color: #373737;
}

/* 20%と80%で分ける */
.row #icon {
  flex: 20%;
  /* 中央寄せ */
  display: grid;
  place-items: center;
}

.row #title {
  flex: 80%;
}

/* ------------------------- */

.Controlbar {
  height: 100%;
  width: 50px;
  background-color: #121212;
}

.ControlbarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.ControlbarList .row {
  width: 100%;
  height: 60px;
  /* background-color: blue; */
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  color: #717171;
}

/* 20%と80%で分ける */
.row #icon {
  flex: 20%;
  /* 中央寄せ */
  display: grid;
  place-items: center;
}

/* ホバーした時の動作 */
.row #icon:hover {
  flex: 20%;
  /* 中央寄せ */
  display: grid;
  place-items: center;
  cursor: pointer;
  color: #ffffff;
}

/* #active：ControlbarListのボタンを押した状態を保持 */
.ControlbarList #active {
  background-color: #373737;
}
